/* ^imported fonts
raleway
Source Sans Pro
Roboto 
Roboto Condensed
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Extending tailwind classes */
@theme {
  /* ^Fonts */
  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-source-sans: "Source Sans 3", sans-serif;

  /* ^Colors */
  --color-primary: #5ece7b;
  --color-primary-font-color: #1d1f22;
}

@layer base {
  /* ^Global Styles */
  body {
    font-family: var(--font-raleway);
    color: var(--color-primary-font-color);
    scrollbar-color: #5ece7b #fff;
  }
  button {
    @apply select-none transition-all duration-200 cursor-pointer border disabled:bg-gray-300! disabled:text-gray-500! disabled:border-gray-400! disabled:cursor-not-allowed disabled:opacity-50;
  }
  img {
    @apply select-none;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4;
  }
}
